<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="Tech-Bat"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GRUPO_IOT"
        tools:targetApi="31">
        <activity
            android:name=".delegadoGeneral.MenuDelegadoGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.MenuActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.EventoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaEventosActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.PreviaActualizacionLayout"
            android:exported="false" />
        <activity
            android:name=".delactividad.ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.VistaPreviaEvento"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alumno.activity.RutaMasCortaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.EventoApoyadoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ConfirmacionApoyoActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.delactprincipal"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaEventosApoyadosActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaDeChatsActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ChatGrupalActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ConfirmacionTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.FotoTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.DonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaActividadesActivity"
            android:exported="true"></activity>
        <activity
            android:name=".delactividad.UsuariosInscritos"
            android:exported="true" />
        <activity
            android:name=".ConfirmacionRegistroActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".OlvidoContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>