<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="Tech-Bat"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GRUPO_IOT"
        tools:targetApi="31">
        <activity
            android:name=".delactividad.SinFuncionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2c-zYtPwX6q8y8OfJb6lwEirYEjgwYNI" />

        <activity
            android:name=".alumno.activity.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.Chatdelact"
            android:exported="false" />
        <activity
            android:name=".delactividad.Perfildelact"
            android:exported="false" />
        <activity
            android:name=".delactividad.VistaPreviaCreacion"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.MenuActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.EventoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaEventosActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.PreviaActualizacionLayout"
            android:exported="false" />
        <activity
            android:name=".delactividad.ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.VistaPreviaEvento"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alumno.activity.RutaMasCortaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.EventoApoyadoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ConfirmacionApoyoActivity"
            android:exported="false" />
        <activity
            android:name=".delactividad.ListaDeUsuarios"
            android:exported="false" />
        <activity
            android:name=".delactividad.NuevoEvento"
            android:exported="false" />
        <activity
            android:name=".delactividad.Delactprincipal"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaEventosApoyadosActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaDeChatsActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ChatGrupalActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ConfirmacionTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.FotoTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.DonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.activity.ListaActividadesActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".delactividad.UsuariosInscritos"
            android:exported="true" />
        <activity
            android:name=".ConfirmacionRegistroActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".OlvidoContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".delegadoGeneral.MenuDelegadoGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.ActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.UsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.ValidacionesActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.EstadisticasActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.EventosActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.EditarActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.CrearActividadActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.ParticipantesActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.EditaUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.InfoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.ValidacionActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.DelegadoActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.AsignarDelegadoActivity"
            android:exported="false" />
        <activity
            android:name=".delegadoGeneral.EventosActividadActivity"
            android:exported="false" />
        <service
            android:name=".services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>