<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="Tech-Bat"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GRUPO_IOT"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".alumno.RutaMasCortaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.EventoApoyadoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.ConfirmacionApoyoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.ListaEventosApoyadosActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.ListaDeChatsActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.ChatGrupalActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.ConfirmacionTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.FotoTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.DonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.EventoActivity"
            android:exported="false" />
        <activity
            android:name=".alumno.MenuEventosActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmacionRegistro"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".OlvidoContrasena"
            android:exported="false" />
        <activity
            android:name=".Login2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>